.browse-container {
  flex: 1;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 48px;
}

h1 .spinner {
  height: 24px;
}

.list {
  margin-top: 20px;
  display: flex;
}

a {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 250px;
  text-decoration: none;
}

a img {
  height: 250px;
}

a strong {
  font-size: 13px;
  margin-top: 10px;
  color: #fff;
}

a:first-child {
  margin: 0;
}

a p {
  line-height: 22px;
  margin-top: 5px;
  font-size: 13px;
  color: #b3b3b3;
}

a:hover img {
  opacity: 0.4;
}
