* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body,
#root {
  height: 100vh;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialised !important;
  background: #181818;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-menu {
  display: flex;
  height: 100%;
  background: linear-gradient(to bottom, #414141 0%, #181818 100%), transparent;
  background-size: 100% 250px, 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.side {
  display: flex;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

button {
  cursor: pointer;
}
